<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to ATZ Finance</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <a th:href="@{/logout}" onclick="alert('Press OK to log out...')" class="btn btn-primary" id="logoutButton">Logout</a>
</head>
<body>
<div style="text-align: center;">
    <img style="text-align: center;" src="https://i.ibb.co/7nHPB98/Untitled-design.png" alt="Untitled-design" width="1280" height="300" border="0">
</div>
<h1 style="text-align: center;"> Welcome to ATZ Finance </h1>
<div class="container my-2">
    <div style="text-align: center">
        <a th:href="@{/newLoanApplication}" class="btn btn-primary">New Loan Application</a>
        <a th:href="@{/loanApplicationHistory}" class="btn btn-primary">Loan Application History</a>
    </div>
</div>
</body>
</html>