<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table border="1" class = "table table-striped table-responsive-md">
    <thead>
    <tr>
        <th>Loan Purpose</th>
        <th>Loan Amount</th>

    </tr>
    </thead>
    <tbody>
    <tr>
    <tr th:each="application: ${listApplications}">
        <td th:text="${application.loanPurpose}"></td>
        <td th:text="${application.loanAmount}"></td>
    </tr>
    <a th:href = "@{/}">Home</a>
    </tr>
    </tbody>
</table>
</body>
</html>