<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Loan Application History</title>
</head>
<body>
<a style="alignment: left" class="btn btn-primary" th:href="@{/users}">Home</a>
<div style="text-align: center; border: 0">
    <img src="https://i.ibb.co/7nHPB98/Untitled-design.png" alt="Untitled-design" width="1280" height="300">
</div>
<h1 class="container my-2" style="text-align: center;">Loan Application History</h1>
<br>
<br>

<table border="1" class = "table table-striped table-responsive-md">
    <thead>
        <tr>
            <th>Application ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>SSN</th>
            <th>Loan Amount</th>
            <th>Loan Purpose</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="applications: ${allApps}">
            <td th:text="${applications.appId}"></td>
            <td th:text="${applications.firstName}"></td>
            <td th:text="${applications.lastName}"></td>
            <td th:text="${applications.SSN}"></td>
            <td th:text="${applications.loanAmount}"></td>
            <td th:text="${applications.loanPurpose}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>